In [1]:
from dotenv import load_dotenv
import os

load_dotenv()

True

In [2]:
import pandas as pd
import numpy as np
import runregistry as rr
from cmsdials.auth.bearer import Credentials
from cmsdials import Dials
from cmsdials.filters import LumisectionHistogram1DFilters

/home/gamoreir/.cache/pypoetry/virtualenvs/ml-examples-EfRPkUGI-py3.11/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
creds = Credentials.from_creds_file()
dials = Dials(creds, workspace="jetmet")

[2025-03-06 16:20:02,719] INFO: Credentials file not found, triggering device authentication flow...
[2025-03-06 16:20:02,815] INFO: This device will expire in 600 seconds.
[2025-03-06 16:20:02,816] INFO: Go to the following url and authenticate: https://auth.cern.ch/auth/realms/cern/device?user_code=GEVC-EOTO
[2025-03-06 16:20:02,817] INFO: Checking authorization status every 5 seconds...
[2025-03-06 16:20:07,915] INFO: Device not authorized yet.
[2025-03-06 16:20:13,008] INFO: Device not authorized yet.
[2025-03-06 16:20:19,888] INFO: Device authorized, authentication finished successfully!

In [4]:
me = "JetMET/MET/pfMETT1/Cleaned/METSig"
# run_number = 379456
run_number = 386642
# dataset = "/JetMET0/Run2024C-PromptReco-v1/DQMIO"
dataset = "/JetMET0/Run2024I-PromptReco-v1/DQMIO"
data = dials.h1d.list_all(LumisectionHistogram1DFilters(page_size=500, dataset=dataset, me=me,  run_number=run_number), enable_progress=True)
data = data.to_pandas()

Progress:   0%|          | 0/1 [00:00<?, ?it/s]

Progress: 100%|██████████| 2/2 [00:00<00:00,  4.94it/s]

In [5]:
data

,dataset,me,dataset_id,file_id,run_number,ls_number,me_id,x_min,x_max,x_bin,entries,data
0,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674077,386642,1,5,0.0,51.0,51.0,4823,"[1940.0, 1987.0, 670.0, 181.0, 31.0, 8.0, 4.0,..."
1,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674237,386642,2,5,0.0,51.0,51.0,4681,"[1869.0, 1872.0, 714.0, 184.0, 26.0, 6.0, 6.0,..."
2,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674237,386642,3,5,0.0,51.0,51.0,4645,"[1819.0, 1924.0, 672.0, 188.0, 27.0, 8.0, 2.0,..."
3,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674037,386642,4,5,0.0,51.0,51.0,3427,"[1400.0, 1366.0, 517.0, 106.0, 24.0, 7.0, 2.0,..."
4,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674037,386642,5,5,0.0,51.0,51.0,4475,"[1789.0, 1819.0, 660.0, 165.0, 28.0, 8.0, 3.0,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
726,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813673957,386642,728,5,0.0,51.0,51.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
727,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813673957,386642,729,5,0.0,51.0,51.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
728,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813673957,386642,730,5,0.0,51.0,51.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
729,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813673957,386642,731,5,0.0,51.0,51.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
730,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813673957,386642,732,5,0.0,51.0,51.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [6]:
rr_dataset = "/PromptReco/Collisions2024/DQM"
joint_ranges = rr.get_joint_lumisection_ranges(run_number, rr_dataset)

In [7]:
lumisections = []
for joint_range in joint_ranges:
    # Cleanup extra keys in rr lumis, since we only care about the status key
    for key, value in joint_range.items():
        if isinstance(value, dict) and "status" in value.keys():
            joint_range[key] = value["status"] == "GOOD"

    # Repeat the flags for the same range
    start_ls = joint_range.pop("start")
    end_ls = joint_range.pop("end")
    for ls_number in range(start_ls, end_ls + 1):
        lumisections.append({"run_number": run_number, "ls_number": ls_number, **joint_range})

lumisections = pd.DataFrame(lumisections)

In [8]:
lumis = lumisections[
    lumisections.cms_active &
    lumisections.beam1_stable &
    lumisections.beam2_stable &
    lumisections.beam1_present &
    lumisections.beam2_present &
    lumisections.bpix_ready &
    lumisections.fpix_ready &
    lumisections.tibtid_ready &
    lumisections.tecm_ready &
    lumisections.tecp_ready &
    lumisections.tob_ready &
    lumisections.hbhea_ready &
    lumisections.hbheb_ready &
    lumisections.hbhec_ready &
    lumisections.hf_ready &
    lumisections.ho_ready
]
lumis = lumis[["run_number", "ls_number", "jetmet-jetmet"]]

lumis

     run_number  ls_number  jetmet-jetmet
0        386642          1           True
1        386642          2           True
2        386642          3           True
3        386642          4           True
4        386642          5           True
..          ...        ...            ...
719      386642        720           True
720      386642        721           True
721      386642        722           True
722      386642        723           True
723      386642        724           True

[724 rows x 3 columns]

In [9]:
joint_data = data.merge(lumis, on=['run_number', 'ls_number'])
joint_data

,dataset,me,dataset_id,file_id,run_number,ls_number,me_id,x_min,x_max,x_bin,entries,data,jetmet-jetmet
0,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674077,386642,1,5,0.0,51.0,51.0,4823,"[1940.0, 1987.0, 670.0, 181.0, 31.0, 8.0, 4.0,...",True
1,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674237,386642,2,5,0.0,51.0,51.0,4681,"[1869.0, 1872.0, 714.0, 184.0, 26.0, 6.0, 6.0,...",True
2,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674237,386642,3,5,0.0,51.0,51.0,4645,"[1819.0, 1924.0, 672.0, 188.0, 27.0, 8.0, 2.0,...",True
3,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674037,386642,4,5,0.0,51.0,51.0,3427,"[1400.0, 1366.0, 517.0, 106.0, 24.0, 7.0, 2.0,...",True
4,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674037,386642,5,5,0.0,51.0,51.0,4475,"[1789.0, 1819.0, 660.0, 165.0, 28.0, 8.0, 3.0,...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674077,386642,720,5,0.0,51.0,51.0,2518,"[1132.0, 957.0, 273.0, 99.0, 40.0, 13.0, 1.0, ...",True
719,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674077,386642,721,5,0.0,51.0,51.0,2640,"[1169.0, 1046.0, 267.0, 100.0, 39.0, 13.0, 3.0...",True
720,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674077,386642,722,5,0.0,51.0,51.0,2627,"[1171.0, 989.0, 293.0, 114.0, 48.0, 2.0, 1.0, ...",True
721,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674117,386642,723,5,0.0,51.0,51.0,2626,"[1225.0, 960.0, 289.0, 93.0, 35.0, 14.0, 3.0, ...",True
722,/JetMET0/Run2024I-PromptReco-v1/DQMIO,JetMET/MET/pfMETT1/Cleaned/METSig,15090031,17813674117,386642,724,5,0.0,51.0,51.0,2602,"[1190.0, 994.0, 257.0, 107.0, 33.0, 11.0, 4.0,...",True

In [10]:
train_data = joint_data[["data", "jetmet-jetmet"]]
train_data = train_data.rename(columns={'jetmet-jetmet': 'label'})
train_data

                                                  data  label
0    [1940.0, 1987.0, 670.0, 181.0, 31.0, 8.0, 4.0,...   True
1    [1869.0, 1872.0, 714.0, 184.0, 26.0, 6.0, 6.0,...   True
2    [1819.0, 1924.0, 672.0, 188.0, 27.0, 8.0, 2.0,...   True
3    [1400.0, 1366.0, 517.0, 106.0, 24.0, 7.0, 2.0,...   True
4    [1789.0, 1819.0, 660.0, 165.0, 28.0, 8.0, 3.0,...   True
..                                                 ...    ...
718  [1132.0, 957.0, 273.0, 99.0, 40.0, 13.0, 1.0, ...   True
719  [1169.0, 1046.0, 267.0, 100.0, 39.0, 13.0, 3.0...   True
720  [1171.0, 989.0, 293.0, 114.0, 48.0, 2.0, 1.0, ...   True
721  [1225.0, 960.0, 289.0, 93.0, 35.0, 14.0, 3.0, ...   True
722  [1190.0, 994.0, 257.0, 107.0, 33.0, 11.0, 4.0,...   True

[723 rows x 2 columns]

In [11]:
data_arr = np.vstack(train_data.data)
data_arr

array([[1940., 1987.,  670., ...,    0.,    0.,    0.],
       [1869., 1872.,  714., ...,    0.,    0.,    0.],
       [1819., 1924.,  672., ...,    0.,    0.,    0.],
       ...,
       [1171.,  989.,  293., ...,    0.,    0.,    0.],
       [1225.,  960.,  289., ...,    0.,    0.,    0.],
       [1190.,  994.,  257., ...,    0.,    0.,    0.]])

In [12]:
label_arr = train_data.label.to_numpy().astype(np.float32)
label_arr

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1.], dtype=float32)

In [13]:
os.makedirs("../data", exist_ok=True)
np.save(f"../data/data_{run_number}.npy", data_arr)
np.save(f"../data/label_{run_number}.npy", label_arr)